<%= link_to '店舗登録ページはこちら', '#', class: 'btn-info', role: 'button' %>
<div class="container pt-3">
  <div class="row">
    <% if @shops.present? %>
      <% @shops.each do |shop| %>
        <div class="card">
          <div class="d-flex">
            <%= image_tag 'noimage.png', class: "card-img-left", width: "150", height: "auto" %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to shop.title, '#' %>
              </h4>
              <p class="card-text">
                <%= "住所: #{shop.full_address}" %>
              </p> 
              <p>星評価</p>
              <p>登録パフェ： 件</p>
              <p>定休日</p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="mb-3">店舗情報がありません</div>
    <% end %>
  </div>
</div>   



          

