<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" data-turbo="false" href="#section1">トップ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" data-turbo="false" href="#section2">パフェ一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" data-turbo="false" href="#section3">レビュー</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div id="section1" class="tab-pane fade show active">
      <%= render 'shops/top_section_tab', shop: @shop %>
    </div>
    <div id="section2" class="tab-pane fade">
      <%= render 'shops/parfait_section_tab', parfaits: @parfaits, shop: @shop %>
    </div>
    <div id="section3" class="tab-pane fade">
      <%= render 'shops/reviews_section_tab', reviews: @reviews %>
    </div>
  </div>
</div>

