<div class="d-inline-flex align-items-center">
  <% if current_user.bookmark?(review) %>
    <%= render 'shared/unbookmark', { review: review } %>
  <% else %>
    <%= render 'shared/bookmark', { review: review } %>
  <% end %>

  <% if bookmark_count.to_i > 0 %>
    <div class="m-1 text-muted">
      <%= bookmark_count %>
    </div>
  <% end %>
</div>
