<% flash.each do |message_type, message| %>
  <% bootstrap_class = case message_type.to_sym
    when :notice then "success"
    when :alert  then "danger"
    when :success, :danger, :warning, :info then message_type
    else "secondary"
  end %>
  <div class="alert alert-<%= bootstrap_class %> alert-dismissible fade show">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>

<%#
  この条件分岐はdeviseにフラッシュメッセージを適応させるため。
  flashの中でmessage_typeが文字列のときもあるので
  message_type.to_symでシンボルにする。
  後はnoticeとかをbootstrapに合わせたクラス名に変換する。
%>