<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='footer-bottom' style="margin-top: 50px;"></div>
        <div class="container">
          <div class='row justify-content-center'>
            <div class='col-md-6 text-center'>
              <li class='list-inline-item'>
                <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-decoration-none text-muted' %>
              </li>
              <li class='list-inline-item'>
                <%= link_to '利用規約', condition_path, class: 'text-decoration-none text-muted' %>
              </li>  
            </div>  

          </div>
        </div>
        <div class='copyright'>
          <p>© 2025 erika. All right reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>