<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='footer-bottom' style="margin-top: 50px;"></div>
        <div class='copyright'>
          <p>© 2025 erika. All right reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>