<% @parfaits.each do |parfait| %>
  <li class="list-group-item list-group-item-action d-flex align-items-center" 
       role="option" 
       data-autocomplete-value="<%= parfait.id %>" 
       data-autocomplete-label="<%= parfait.name %>">
    <%= parfait.name %>
  </li>
<% end %>