<div class="form-wrapper">
  <div class="container parfait-page">
    <div class="container">
      <h2>商品編集</h2>
      <div class="pt-2">
        <h4><%= @parfait.shop.name %></h4>
      </div>
      <%= render 'form', parfait: @parfait %>
    </div>
  </div>
</div>