<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3>商品編集</h3>
      <div><%= @parfait.shop.name %></div>
      <%= render 'form', parfait: @parfait %>
      </div>
  </div>
</div>