.header {
  background-color: #FFF0A6;
}

.header-mid {
  background-color: #F5E6D3;
}

.header-image {
  height: 130px;
  object-fit: contain;
}

.nav-link {
  font-size: 1.2rem;
  color: midnightblue;
}

.nav-link:hover {
  color: #4169e1;
}