<div class="mb-3" data-controller="multiple-previews">
  <%= f.label :review_images, '画像' %>
  <%= f.file_field :review_images, multiple: true, include_hidden: false, data: { "action" => "change->multiple-previews#previewImage", "multiple-previews-target" => "input" } %>

  <div class="mt-2" data-multiple-previews-target="preview"></div>
</div>
