<% content_for(:title, t('.title')) %>
<% breadcrumb :bookmark_index %>
<div class="index-wrapper">
  <div class="container pt-3 index-page">
    <!-- 掲示板一覧 -->
    <h2 class="mb-5">いいね一覧</h2>
    <% if @bookmark_reviews.present? %>
      <%= render partial: 'review', collection: @bookmark_reviews, as: :review, locals: { bookmark_counts: @bookmark_counts } %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>