<% breadcrumb :review_index %>
<div class="index-wrapper">
  <div class="container pt-3 index-page">
    <h2 class="mb-5">レビュー一覧</h2>
    <% if @reviews.present? %>
      <%= render partial: 'review', collection: @reviews, as: :review, locals: { bookmark_counts: @bookmark_counts } %>
    <% else %>
      <div class="mb-3 no-date">レビューがありません</div>
    <% end %>
    <div class="p-2">
      <%= paginate @reviews, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
