<div class="container pt-3">
  <div class="row">
    <% if @reviews.present? %>
      <%= render @reviews %>
    <% else %>
      <div class="mb-3">レビューがありません</div>
    <% end %>
    <div class="p-2">
      <%= paginate @reviews, theme: 'bootstrap-5' %>
    </div>  
  </div>
</div>   